## Работа с данными с помощью NumPy

In [1]:
import numpy as np

Задание 1

In [4]:
a = np.array([[1, 6],
              [2, 8],
              [3, 11],
              [3, 10],
              [1, 7]])
mean_a = a.mean(axis=0)
print(mean_a)

[2.  8.4]

Задание 2

In [5]:
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

Задание 3

In [6]:
a_centered_sp = a_centered[:,0].dot(a_centered[:,1]) / (a_centered.shape[0] - 1)
print(a_centered_sp)

2.0

Задание 4

In [8]:
print(np.cov(a.T)[0,1])

2.0

## Работа с данными с помощью Pandas

In [10]:
import pandas as pd

Задание 1

In [11]:
authors = {'author_id': [1, 2, 3],
           'author_name': ['Тургенев', 'Чехов', 'Островский']}
authors = pd.DataFrame(authors)
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [12]:
books = {'author_id': [1, 1, 1, 2, 2, 3, 3],
        'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо',
                       'Толстый и тонкий', 'Дама с собачкой',
                       'Гроза', 'Таланты и поклонники'],
         'price': [450, 300, 350, 500, 450, 370, 290]}
books = pd.DataFrame(books)
books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

Задание 2

In [13]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

Задание 3

In [14]:
top5 = authors_price.nlargest(5, 'price')
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

Задание 4

In [20]:
authors_stat=authors_price.groupby('author_name').agg(min_price=('price','min'), max_price=('price','max'), mean_price=('price','mean'))
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

Задание 5

In [17]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [18]:
book_info = pd.pivot_table(authors_price,
                       values='price',
                       index=['author_name'],
                       columns=['cover'],
                       aggfunc=np.sum,
                       fill_value=0)
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [19]:
pd.to_pickle(book_info,'book_info.pkl')
book_info2 = pd.read_pickle('book_info.pkl')
book_info2

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950